doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script.
			$(document).ready(function() {
				function hideAllComments() {
					$(".commentbutton").parent().next().hide();
					$(".commentbutton").parent().show();
				}

				hideAllComments();
				
				$(".commentbutton").click(function() {
					hideAllComments();
					$(this).parent().hide();
					$(this).parent().next().show();
				});
			});
		title All Posts

	body
		include navbar.pug
	div(style='padding-left:100px;')
		form(action='/postblog' method='post')
				label
					h1 Write new blog post
					//p Email
					input(type='text' id='blogpost' name='blogpost' required=true placeholder="write smth here")
				p
					input(type='submit' value='Post' id='submit')
					hr
		table
			each post in posts
				tr
					td= post.user.name
					td &nbsp;
					td= post.body
				tr
					td &nbsp;
					td &nbsp;
					- var x = post.comments.length
					td(id=post.id, class="commentbutton") #{x} comments
				tr
					td &nbsp;
					td &nbsp;
					td
						table
							each comment in post.comments
								tr
									td= comment.user.name
									td &nbsp;
									td= comment.body
						form(action='/addcomment' method='post')
							input(type="hidden", name="postid", value=post.id)
							input(type="text", name="comment", placeholder="Comment")
							input(type="submit")
					

