doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		include outnavbar.pug
	div(style='padding-left:100px;')
		if user
			a(href='/profile') view profile
			br
			a(href='/logout') log out
		else
			form(action='/signup' method='get')
				p
					h1 Sing up new users
					input(type='submit' value='Sign Up')
				hr

			form(action='/login' method='post')
				label
					h1 Login existing users
					//p Email
					//input(type='email' id='email' name='email' required=true placeholder="email@mail.com")
					input(type='email' id='email' name='email' required=true value="a@a.a")
				label
					//p Password
					//input(type='password' id='password' name='password' required=true placeholder="password")
					input(type='password' id='password' name='password' required=true value="a")
				p
					input(type='submit' value='Sign In' id='submit')
					hr

		h2#error-message= message